/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    /* width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;  */

    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    position: absolute;
    /* bottom: 0;
    left: 0;
    top: auto; */
    width: 100%;
    /* border: 2px solid green; */
}

#lottiePlayer {
    width: 100%;
    /* height: auto; */
    /* border: 1px solid blue; */
    padding: 5px;
    /* display: block; */
    background-color: transparent;
}
/* .box {
    border: 2px solid red;
    width: 100px;
    height: 100px;
} */

.box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: green;
    border: 2px solid red;
  }